#form {
    margin-top: 3rem;
}

#form label {
    color: #00968c;
}

#form input,
#form select {
    width: 15rem;
    border: none;
    outline: none;
    background-color: #e6e6e6;
    height: 2rem;
    border-radius: .5rem;
    padding-left: .3rem;
}

#Room_image {
    display: none;
}

#form label[for=Room_image] {
    background-color: #00968c;
    color: white;
    padding: .5rem;
    display: inline-block;
    border-radius: .5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

#form textarea {
    border: none;
    outline: none;
    background-color: #e6e6e6;
    border-radius: .5rem;
    padding-left: .3rem;
    padding-top: .3rem;
}

#form input[type=submit] {
    background-color: #00968c;
    width: 15.5rem;
}