.confirmationcodeContainer {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    margin-top: 2rem;
}

.confirmationcodeContainer h1 {
    font-size: 1.8rem;
    color: #bd0e0e;
    margin-bottom: 0;
}

.confirmationcodeContainer p {
    margin-top: .3rem;
}